$mainBlue: #2f5572;
$mainOrange: #d59541;

/* breakpoints */

/* 530px/16px = 33.125 */
$bp-small: 33.125em; 
/* 800px/16px = 50 */
$bp-medium: 50em;
/* 1010px/16px = 63.125 */
$bp-large: 63.125em;
