.primary-nav {
    padding-top: 1rem;

    @mixin atMedium {
        padding-top: 0;
    }

    &--pull-right {
        @mixin atMedium {
            float: right;
        }
    }

    ul {
        margin: 0;
        padding: 0;
        
        @mixin clearfix;
    }
    li {
        list-style: none;
        display: inline-block;
        padding-right: 0.7rem;
        
        /* text-align: center; */

        @mixin atMedium {
            padding-right: 2rem;
            float: left;
            display: block;
        }
    }

    li:last-child {
        padding-right: 0;
        @mixin atMedium {
            padding-right: 2rem;
        }
    }

    a{
        display: block;
        color: #fff;
        text-decoration: none;
        font-weight: 300;   
        padding: 0.5rem 0.8rem;
        font-size: 1.28rem;
        background-color: rgba($mainBlue, .7);

        @mixin atMedium {
            font-size: 1.6rem;
            padding: 1.2rem 0;
            background-color: transparent;

            &.is-current-link {
                color: #fabb69;
            }
        }
    }
}